body{
    background-color: #3D3D3B;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 40px;
    margin-top: 140px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
}